* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #f5f5f5;
}
a {
    text-decoration: none;
    color: rgb(11, 116, 229);
}
form {
    display: block;
    margin-top: 0em;
}
.hide {
    display: none;
}
:root {
    --color-header: rgb(26, 148, 255);
    --color-white: #fff;
    --color-backgroud: #f6f5fa;
    --color-text: #333;
}

/* ========== Header =========== */
.header {
    height: 100px;
    background-color: var(--color-header);
}
/* Header logo, search, user, cart */
.header__container {
    width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}
.middle__wrap {
    display: flex;
    padding: 16px 0 10px;
    height: auto;
    position: relative;
    z-index: 2;
    -webkit-box-align: center;
    align-items: center;
}
.middle__left {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
}
.middle__wrap .logo-menu {
    display: flex;
    align-items: center;
    flex-basis: 190px;
    flex-shrink: 0;
    margin-right: 16px;
}
.style__logo {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex: 1 1 0%;
}
.style__logo .tiki-logo__link {
    display: block;
    width: 60px;
    height: 40px;
}
.style__logo .tiki-logo__link img {
    width: 100%;
    height: 100%;
}
.form-search {
    flex: 1 1 0%;
}
.form-search__form {
    display: flex;
    width: 100%;
    position: relative;
    box-shadow: rgb(98 98 98 / 50%) 0px 1px 2px 0px;
}
.form-search {
    border: 0;
    border-radius: 2px 0px 0px 2px;
    outline: none;
    padding: 0 12px;
    flex: 1 1 0%;
    font-size: 13px;
    line-height: 1.15;
}
.form-search__btn {
    cursor: pointer;
    display: flex;
    border: 0;
    width: 120px;
    background-color: rgb(13, 92, 182);
    height: 40px;
    border-radius: 0px 2px 2px 0px;
    color: var(--color-white);
    font-size: 13px;
    font-weight: 500;
    outline: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.form-search__btn .icon-search {
    width: 20px;
    height: 20px;
    margin: 0px 8px 0px 0px;
}
.user-style {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.user-style__item {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0px 0px 0px 16px;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 12px;
    position: relative;
    width: 162px;
}
.user-style .profile-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 2px;
}
.user-style__itemText {
    font-weight: 400;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}
.user-style__noWrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 11px;
    line-height: 16px;
}
.user-style__item .account-lable {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    line-height: 20px;
    min-width: 120px;
    position: relative;
}
.user-style__item .account-lable > span {
    min-width: 104px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-style .arrow-icon {
    width: 16px;
    height: 16px;
    left: 0;
    transform: translateX(-48px);
}
.user-style__cartItem {
    position: relative;
    display: block;
}
.user-style__cartItemInner {
    align-items: flex-end;
    width: 94px;
}
.user-style .cart-wrapper {
    position: relative;
    margin-right: 8px;
    display: flex;
}
.user-style .cart-wrapper .cart-icon {
    width: 32px;
    height: 32px;
}
.user-style__itemCartQty {
    color: rgb(36, 36, 36);
    background: rgb(253, 216, 53);
    height: 20px;
    left: 20px;
    top: -2px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    padding: 0 7px;
}
/* Header bottom */
.header__bottom {
    position: relative;
    z-index: 1;
}
.container__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.heading-iconFree-link {
    position: absolute;
    top: 0px;
}
.heading-iconFree-link img {
    width: 129px;
    height: 18px;
}
.header-style__keyWords {
    margin-left: 206px;
    display: flex;
    align-items: flex-start;
}
.header-style__keyWords a {
    display: block;
    font-size: 11px;
    color: #fff;
    line-height: 16px;
    margin-left: 12px;
}
.header__bottom .tiki-seler {
    color: #fff;
    font-size: 12px;
    margin-bottom: 12px;
    height: 22px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.header__bottom .tiki-seler .icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}
.header__bottom .tiki-seler .text {
    line-height: 16px;
    margin-top: 1px;
}
/* Header mobile */
.header-m {
    position: relative;
    width: 1009px;
    max-width: 1023px;
    height: 93px;
}
.header-background-m img {
    width: 100%;
}
.header-m-up {
    position: absolute;
    top: 0;
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.h_golo-freeship-m {
    width: 83px;
    height: 20px;
}
.h_golo-freeship-m img {
    width: 100%;
    height: 12px;
}
.h_golo-tiki-m {
    margin-right: 35px;
}
.h_golo-tiki-m img {
    width: 40px;
    height: 27px;
}
.h_bell-cart-m {
    position: relative;
    display: flex;
    width: 59px;
    height: 32px;
    align-items: center;
}
.h_bell-m {
    margin-right: 6px;
    margin-top: 4px;
}
.h_bell-m img {
    width: 26px;
    height: 26px;
}
.h_cart-m {
    width: 23px;
    height: 29px;
    margin-top: 4px;
}
.h_cart-m img {
    width: 23px;
    height: 23px;
}
.h_quantity-m {
    position: absolute;
    top: -4px;
    right: -2px;
    background-color: #fdd835;
    border-radius: 50%;
    color: #000;
    padding: 0px 5px;
}
.h_search-m {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    width: 94vw;
    height: 40px;
    background-color: #fff;
    border-radius: 2px;
    align-items: center;
}
.h_btn-search-m {
    margin-left: 20px;
    margin-right: 15px;
}
.h_btn-search-m img {
    width: 24px;
    height: 24px;
    margin-top: 6px;
}
.h_search-m input {
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    padding: 4px 0;
}
/* ========== Main =========== */
.tabbar__wrapper {
    height: 44px;
    background-color: #fff;
}
.tabbar__wrapper .container {
    width: 1240px;
    padding: 15px 0;
    margin: 0px auto;
    position: relative;
    height: 44px;
}
.tabbar__wrapper .container__wrapper {
    position: relative;
    width: 100%;
}
.tabbar__wrapper .icon {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    width: 14px;
    cursor: pointer;
    z-index: 2;
}
.tabbar__wrapper .icon.disabled {
    display: none;
}
.tabbar__wrapper .icon i {
    display: inline-block;
    width: 14px;
    font-size: 24px;
}
.arrow-left {
    left: 0px;
    padding-right: 4px;
}
.container__wrapper .list__product {
    overflow: hidden;
}
.container__wrapper .list__product .slider {
    display: inline-block;
    white-space: nowrap;
    transition: all 0.8s ease-in-out 0s;
}
.tabbar__wrapper .list__product .list__product__item {
    color: #333;
    font-size: 14px;
    padding: 0px 16.5px;
    justify-content: space-around;
}
.container__wrapper .arrow-right {
    right: 0px;
}

.home__banner {
    margin: 15px 0;
}
.banner__left {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    width: 59.3vw;
    height: 20vw;
}
.banner__list-img {
    display: flex;
    transition: all 0.8s;
    width: fit-content;
    /* width: 100%; */
}
.home__banner .webimg__size1 {
    width: 59.3vw;
    height: 20vw;
}
.banner__list-img img {
    width: 100%;
    height: 100%;
}
.home__banner .icon-right {
    position: absolute;
    right: 0px;
    bottom: 50%;
    transform: translateY(50%);
    cursor: pointer;
}
.banner__left .icon__arrow {
    width: 32px;
    height: 56px;
}
.home__banner .icon-left {
    position: absolute;
    left: 0px;
    bottom: 50%;
    transform: translateY(50%) rotate(180deg);
    cursor: pointer;
}
.quantity {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}
.quantity-item {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.5);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 0 5px;
}
.color-white {
    background-color: rgba(255, 255, 255) !important;
}
.home__banner .banner__right {
    height: 20vw;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
}
.home__banner .banner__right img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.container4__list {
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: white;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px 0px;
}
.container4__list .img-link-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-pack: center;
    flex-basis: 115px;
    flex-shrink: 0;
    width: 81px;
}
.container4__list .wrap-img {
    width: 48px;
    height: 48px;
}
.container4__list .wrap-img img {
    width: 100%;
    height: 100%;
}
.container4__list span {
    margin-top: 12px;
    font-size: 13px;
    color: rgb(36, 36, 36);
    line-height: 1.54;
    width: 81px;
}
.container5__list {
    display: flex;
    margin-bottom: 15px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 150px;
}
.container5__list .wrap__list-link {
    width: 295px;
    height: 150px;
    background-color: rgb(232, 232, 232);
    border-radius: 20px;
    overflow: hidden;
}
.container5__list .wrap__list-link img {
    width: 295px;
    height: 150px;
}
.container2 {
    display: flex;
}
.container2 .webimg__left2 {
    margin-right: 12px;
    border-radius: 4px;
    background-color: #fff;
}
.webimg__left2-heading {
    padding: 15px;
    width: 100%;
}
.webimg2__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.title-img {
    display: flex;
}
.style__Flash {
    width: 20px;
    margin: 0px 5px;
    transition: 0.3s ease-in;
}
.event__Flash {
    opacity: 0.3;
    transform: scale(1.3);
    transition: 0.3s ease-in;
}
.time {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.webimg__time {
    margin-top: 4px;
}
.webimg__time span {
    font-size: 14px;
    margin: 0px 4px;
    padding: 4px;
    border-radius: 4px;
    color: #fff;
    background-color: #ff0000;
}
.see__more a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(26, 148, 255);
    margin-top: 4px;
}
.container2__index {
    position: relative;
    width: 735px;
    overflow: hidden;
}
.container2__product-list {
    display: flex;
    width: fit-content;
    transition: 0.8s;
}
.container2__product-item {
    cursor: pointer;
    padding: 0px 10px 5px 10px;
    border: none;
    width: 148px;
}
.container2__product-item:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
}
.container2__product-img {
    width: 100%;
}
.container2__product-price {
    display: flex;
    align-items: center;
    color: #ff0000;
    font-size: 16px;
    margin: 8px 0px 12px;
    line-height: 24px;
}
.container2__product-price .price {
    font-weight: 500;
}
.container2__product-price .discout {
    font-size: 12px;
    border: 1px solid #ff0000;
    border-radius: 2px;
    padding: 0px 2px;
    line-height: 14px;
    margin-left: 8px;
}
.container__product-message {
    background-color: rgb(255, 170, 175);
    width: 100%;
    height: 20px;
    position: relative;
    border-radius: 10px;
}
.container__product-message span {
    position: absolute;
    width: 100%;
    display: flex;
    font-size: 11px;
    justify-content: center;
    line-height: 20px;
    color: #fff;
    z-index: 1;
}
.container__product-message img {
    position: absolute;
    width: 24px;
    top: -8px;
    left: 5px;
    z-index: 2;
}
.backround__percent {
    position: absolute;
    background-color: #ff0000;
    height: 100%;
    border-radius: 10px;
}
.container2__index .icon__right {
    right: 0;
    top: 29%;
}
.container2__index .icon2 {
    position: absolute;
}
.icon2__bgr-right::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 40px;
    z-index: 1;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255)
    );
    transition: width 0.05s ease-in 0s;
    pointer-events: none;
}
.icon2__bgr-right img {
    width: 40px;
    cursor: pointer;
}
.container2__index .icon__left {
    left: 8px;
    top: 26%;
    transform: rotate(180deg);
}
.icon2__bgr-left::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 40px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    transition: width 0.05s ease-in 0s;
    pointer-events: none;
    background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255)
    );
}
.icon2__bgr-left img {
    width: 40px;
    cursor: pointer;
}
.webimg__right2 {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.webimg__right2-list {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: max-content;
    transition: 0.8s;
}
.imgVideo,
.webimg__right2 {
    object-fit: cover;
    width: 36.5vw;
    height: 19vw;
}
.quantity__img {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}
.quantity-item2 {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.5);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 0 5px;
}
.container3 {
    margin: 30px 0 15px;
}
.container3 .img-link-left {
    border-radius: 4px;
    overflow: hidden;
}
.container3 .img-link-main {
    border-radius: 4px;
    overflow: hidden;
}
.container3 .img-link-right {
    border-radius: 4px;
    overflow: hidden;
}
.container3 img {
    border-radius: 4px;
    width: 100%;
}
.container6 {
    background-color: #fff;
    border-radius: 2px;
}
.container6 .header-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}
.container6 .header-wrap-title {
    display: flex;
    align-items: center;
}
.container6 .header-wrap-title h2 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}
.container6 .header-wrap-title img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.container6 .header-wrap a {
    position: absolute;
    right: 0;
    padding-right: 15px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(26, 148, 255);
    text-decoration: none;
}
.container6 .slider-wrap {
    position: relative;
    padding-bottom: 30px;
    margin: 0 9px;
    overflow: hidden;
}
.container6 .slider-img-wrap {
    display: flex;
    width: max-content;
    transition: 0.8s;
}
.container6 .slider-img-item {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    max-width: 614px;
    margin-left: 6px;
    margin-right: 6px;
}
.container6 .slider-img-item img {
    border-radius: 10px;
    width: 47vw;
    object-fit: contain;
}
.arrow-wrap .icon-right3 {
    position: absolute;
    right: 6px;
    bottom: 80px;
    transform: translateY(-60%);
    width: 32px;
    height: 56px;
    cursor: pointer;
    opacity: 0.3;
}
.arrow-wrap .icon-right3:hover {
    opacity: 1;
}
.arrow-wrap .icon-right3 img {
    width: 100%;
}
.arrow-wrap .icon-left3 {
    position: absolute;
    bottom: 80px;
    transform: translateY(-60%) rotate(180deg);
    left: 6px;
    width: 32px;
    height: 56px;
    cursor: pointer;
    opacity: 0.3;
}
.arrow-wrap .icon-left3:hover {
    opacity: 1;
}
.arrow-wrap .icon-left3 img {
    width: 100%;
}
.quantity-img3 {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
}
.quantity-item3 {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 8px;
    height: 8px;
    list-style: none;
    margin: 0 5px;
}
.active-color {
    background-color: rgb(26, 148, 255);
}
.container6 .slider-product3-wrap {
    position: relative;
    margin: 0 15px;
    padding: 10px 0 15px;
    overflow: hidden;
}
.container6 .slider-product3 {
    display: flex;
    overflow: hidden;
    width: max-content;
    transition: 0.8s;
}
.slider-product3-wrap .slider-product3-item {
    position: relative;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 8px;
    margin-right: 20px;
    width: 16.05vw;
}
.slider-product3-wrap .slider-product3-item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.slider-product3-wrap .slider-product3-item p {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    color: rgb(26, 148, 255);
    text-align: center;
    font-size: 13px;
}
.icon3-bgr-right::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    z-index: 1;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255)
    );
    transition: width 0.05s ease-in 0s;
    pointer-events: none;
}
.icon3-bgr-left::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    z-index: 1;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255)
    );
    transition: width 0.05s ease-in 0s;
    pointer-events: none;
}
.icon3-right.icon3 {
    position: absolute;
}
.slider-product3-wrap .icon3-right {
    right: -13px;
    top: 35%;
}
.icon3-bgr-right img {
    width: 50px;
    cursor: pointer;
}
.icon3-left.icon3 {
    position: absolute;
}
.slider-product3-wrap .icon3-left {
    left: -13px;
    top: 35%;
    transform: rotate(180deg);
}
.icon3-bgr-left img {
    width: 50px;
    cursor: pointer;
}
.category-wrap {
    margin: 20px 0;
    background-color: #fff;
    border-radius: 2px;
}
.cate-heading-title {
    font-size: 20px;
    padding: 15px;
}
.category-wrap .cate-product-list {
    display: flex;
    padding-top: 10px;
}
.category-wrap .max-width {
    min-width: 127.39px;
}
.category-wrap .product-item {
    padding-left: 8px;
    padding-right: 8px;
}
.category-wrap .center {
    display: flex;
    align-items: center;
    text-align: center;
}
.category-wrap .cate-product-link {
    display: block;
    text-decoration: none;
    height: 150px;
}
.category-wrap .cate-product-link img {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    align-items: center;
}
.category-wrap .cate-product-link p {
    text-align: center;
    margin: 12px 0 16px;
    font-size: 13px;
    line-height: 20px;
    font-weight: initial;
    color: #333;
    padding: 0 3px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.discount-link img {
    border-radius: 20px;
    width: 28.7vw;
}
.container7 {
    padding-bottom: 20px;
}
.heading-product-wrap {
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 20px;
    background-color: #f5f5fa;
}
.heading-product-wrap .heading-title {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #fff;
}
.heading-product-wrap .webimg9-wrap {
    display: flex;
}
.heading-product-wrap .webimg9 {
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    padding-top: 4px;
    height: 85px;
    width: 144.75px;
    border: 1px solid #fff;
}
.heading-product-wrap .webimg9:hover {
    border: 1px solid blue;
}
.webimg9-wrap-item {
    flex: 0 0 12.5%;
    width: 12.5%;
    padding: 0 2px;
    margin: 4px 0;
}
.heading-product-wrap .webimg9-link {
    display: block;
    text-decoration: none;
    padding: 0 8px;
}
.webimg9-link img {
    width: 48px;
    height: 48px;
}
.webimg9-link span {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: rgb(26, 148, 255);
}
.product-list-beetwen {
    height: 606px;
    overflow: hidden;
}
.product-item-beetwen {
    background-color: #fff;
    margin-top: 10px;
    border-radius: 2px;
    overflow: hidden;
}
.product-link-beetwen {
    text-decoration: none;
    display: block;
}
.product-item-beetwen:hover {
    box-shadow: rgb(100 100 111 / 20%) 0px 0px 15px 0px;
}
.product-img-link-beetwen {
    position: relative;
    text-align: center;
}
.product-link-beetwen img {
    width: 200px;
    height: 200px;
}
.product-img-link-beetwen .thumbnail {
    position: absolute;
    bottom: -12px;
    left: 9px;
}
.product-img-link-beetwen .thumbnail img {
    width: 136px;
    height: 24px;
}
.product-link-beetwen p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 12px;
    color: #333;
    padding: 10px 10px 0;
}
.product-star {
    color: #fdd835;
    font-size: 11px;
    position: relative;
    margin: 0 20px;
    float: left;
}
.product-star::after {
    content: "";
    border-left: 1px solid rgb(120, 120, 120);
    position: absolute;
    height: 9px;
    top: 5px;
    right: -10px;
}
.product9-sell {
    color: rgb(120, 120, 120);
    font-size: 11px;
}
.product9-price {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 15px 30px;
}
.product9-price .price {
    position: absolute;
    left: 22px;
    color: #ff424e;
}
.product9-price .price small {
    color: #ff424e;
    text-decoration: underline;
}
.product9-price .discount {
    color: #ff424e;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #ff424e;
    line-height: 14px;
    padding: 0 2px;
}
.container7-footer {
    display: flex;
    justify-content: center;
}
.container7-footer .footer7 {
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 4px;
    width: 240px;
    border: 1px solid rgb(13, 92, 182);
    color: rgb(13, 92, 182);
    font-size: 13px;
    text-align: center;
    margin: 20px;
    font-weight: 500;
}
.container7-footer .footer7:hover {
    background-color: rgb(26, 148, 255);
    color: #fff;
}
.change {
    height: auto;
}
/* ========== Footer =========== */
.footer {
    background-color: #fff;
    margin-top: 16px;
}
.content__footer {
    padding: 20px 0;
    height: 600px;
    overflow: hidden;
}
.footer__title {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}
.content__footer .footer__body a {
    display: block;
    line-height: 25px;
    font-size: 12px;
    text-decoration: none;
    color: rgb(120, 120, 120);
}
.content__footer .carte {
    font-size: 16px;
    margin: 20px 0 10px;
    color: #333;
}
.footer__img img {
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
}
.footer-app img {
    width: 32px;
    height: 32px;
}
.net-society img {
    width: 32px;
}
.footer__img2-wrap {
    display: flex;
}
.footer__img2-wrap > img {
    width: 80px;
    height: 80px;
}
.footer__app-download {
    margin: 0 10px;
}
.footer__app-download img {
    width: 122px;
}
/* ========== Modal =========== */
.modal-overlay {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.53);
    overflow-y: scroll;
    z-index: 1000;
}
.modal-content {
    position: relative;
    inset: 0px;
    border: none;
    background: rgb(255, 255, 255);
    overflow: unset;
    border-radius: 20px;
    outline: none;
    padding: 0px;
    width: 800px;
    margin: 80px auto;
}
.modal-style {
    background: rgb(248, 248, 248);
    display: flex;
    width: 100%;
    border-radius: 20px;
    position: relative;
}
.modal-style .btn-close,
.modal-style .img-close {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 42px;
    height: 42px;
    background: none;
    cursor: pointer;
    border: none;
}
.modal-styleLeft {
    width: 500px;
    padding: 40px 45px 24px;
    background: rgb(255, 255, 255);
    border-radius: 20px 0px 0px 20px;
}
.style-login .modal-heading {
    margin-bottom: 20px;
}
.style-login .modal-heading h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px;
}
.style-login .modal-heading p {
    margin: 0;
    font-size: 15px;
}
.modal-style .modal-input {
    position: relative;
    z-index: 1;
}
.modal-style .modal-input::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.modal-style .modal-input input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: none;
    font-size: 24px;
    color: rgb(36, 36, 36);
}
.message-error {
    font-size: 13px;
    color: red;
}
.modal-style form button {
    margin: 30px 0 10px;
    outline: none;
    border-radius: 4px;
    background: rgb(255, 66, 78);
    padding: 13px 0;
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
}
.modal-style .login-with-email {
    margin: 10px 0 0;
    text-align: center;
    cursor: pointer;
    color: rgb(13, 92, 182);
}
.style-social {
    text-align: center;
    margin: 80px 0 0;
}
.style-social .social-heading {
    margin: 0 0 15px;
    position: relative;
}
.style-social .social-heading::before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(242, 242, 242);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(50%);
    z-index: 1;
}
.style-social .social-heading span {
    font-size: 15px;
    color: rgb(120, 120, 120);
    display: inline-block;
    background: rgb(255, 255, 255);
    padding: 0 20px;
    position: relative;
    z-index: 2;
}
.style-social .social-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.style-social .social-item {
    margin: 0 10px;
}
.style-social .social-item img {
    width: 58px;
}
.style-social .note {
    font-size: 11px;
    color: rgb(120, 120, 120);
    text-align: center;
}
.style-social .note a {
    display: inline-block;
    text-decoration: underline;
    margin-left: 5px;
    font-size: 11px;
    color: rgb(120, 120, 120);
}
.modal-styleRight {
    background: linear-gradient(
        136deg,
        rgb(240, 248, 255) -1%,
        rgb(219, 238, 255) 85%
    );
    width: 300px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
}
.modal-styleRight img {
    width: 203px;
}
.modal-styleRight .content {
    margin: 30px 0 0;
    text-align: center;
}
.modal-styleRight .content h4 {
    margin: 0 0 5px;
    color: rgb(11, 116, 229);
    font-size: 17px;
    font-weight: 600;
}
.modal-styleRight .content span {
    font-size: 13px;
    font-weight: 500;
    color: rgb(11, 116, 229);
}
